@{
    ViewData["Title"] = "Values";
}

<div data-hr-controller="mainTable">
    <h1>Values</h1>
    <load visible="true">
        <p>Working...</p>
    </load>
    <main>
        <div class="table-responsive">
            <table class="table table-bordered">
                <thead>
                    <tr>
                        <th>Checkbox</th>
                        <th>CheckboxSelectAll</th>
                        <th>DateOnly</th>
                        <th>Hidden</th>
                        <th>Password</th>
                        <th>Select</th>
                        <th>TextArea</th>
                        <th>Text</th>
                        <th>TextAutocomplete</th>
                        <th>DateTimeWithTimezones</th>
                        <th>DateTimeWithDataTimezone</th>
                        <th>DateTimeWithNoTimezone</th>
                        <th>CustomType</th>
                        <th>CheckboxOverride</th>
                        <th>DateOnlyOverride</th>
                        <th>HiddenOverride</th>
                        <th>PasswordOverride</th>
                        <th>SelectOverride</th>
                        <th>TextAreaOverride</th>
                        <th>TextOverride</th>
                        <th>CustomTypeOverride</th>
                        <th>CheckboxOverrideSelectAll</th>
                        <th>TextOverrideAutocomplete</th>
                        <th>Edit</th>
                    </tr>
                </thead>
                <tbody data-hr-view="listing" data-hr-view-component="mainTableBody"></tbody>
            </table>
            <template data-hr-component="mainTableBody">
                <table>
                    <tr>
                        <td>{{checkbox}}</td>
                        <td>{{checkboxSelectAll}}</td>
                        <td>{{dateOnly}}</td>
                        <td>{{hidden}}</td>
                        <td>{{password}}</td>
                        <td>{{select}}</td>
                        <td>{{textArea}}</td>
                        <td>{{text}}</td>
                        <td>{{textAutocomplete}}</td>
                        <td>{{dateTimeWithTimezones}}</td>
                        <td>{{dateTimeWithDataTimezone}}</td>
                        <td>{{dateTimeWithNoTimezone}}</td>
                        <td>{{customType}}</td>
                        <td>{{checkboxOverride}}</td>
                        <td>{{dateOnlyOverride}}</td>
                        <td>{{hiddenOverride}}</td>
                        <td>{{passwordOverride}}</td>
                        <td>{{selectOverride}}</td>
                        <td>{{textAreaOverride}}</td>
                        <td>{{textOverride}}</td>
                        <td>{{customTypeOverride}}</td>
                        <td>{{checkboxOverrideSelectAll}}</td>
                        <td>{{textOverrideAutocomplete}}</td>
                        <td>
                            <button data-hr-on-click="edit" class="btn btn-default" data-hr-toggle="edit" data-hr-style-off="display:none;">Edit</button>
                            <button data-hr-on-click="view" class="btn btn-default" data-hr-toggle="view" data-hr-style-off="display:none;">View</button>
                            <button data-hr-on-click="del" class="btn btn-default" data-hr-toggle="del" data-hr-style-off="display:none;">Delete</button>
                        </td>
                    </tr>
                </table>
            </template>
        </div>
        <button data-hr-on-click="add" class="btn btn-default" data-hr-toggle="add" data-hr-style-off="display:none;">Add</button>

        <page-numbers></page-numbers>
    </main>

    <error>
        An error occured loading the values. Please try again later.
    </error>
</div>

<modal data-hr-controller="entryEditor" title-text="Value" dialog-classes="modal-lg">
    <load class="modal-body">
        <p>Working...</p>
    </load>
    <main>
        <item-edit-form class="form-horizontal" data-hr-form-component="hr.forms.horizontal"></item-edit-form>
    </main>
    <error class="modal-body">
        <p>An error occured loading the value. Please try again later.</p>
    </error>
</modal>